In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/world-cities-air-quality-and-water-polution/cities_air_quality_water_pollution.18-10-2021.csv

In [4]:
url="/kaggle/input/world-cities-air-quality-and-water-polution/cities_air_quality_water_pollution.18-10-2021.csv"
df=pd.read_csv(url)
df.head(5)

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [5]:
df.columns=['City',"Region","Country","AirQuality","WaterPollution"]
df['Region']=df["Region"].map(lambda x: x.replace('"', ""))
df['Country']=df['Country'].map(lambda x: x.replace('"',''))
df['Country']=df['Country'].map(lambda x: x.strip())
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [6]:
df1=pd.pivot_table(df,index=["Country",'Region'])
df1

                                           AirQuality  WaterPollution
Country     Region
Afghanistan  Balkh                          11.111111       83.333333
             Farah                         100.000000        0.000000
             Faryab                         50.000000       50.000000
             Herat                          43.750000       31.250000
             Kabul                          18.421053       81.060606
...                                               ...             ...
Zambia       Copperbelt Province            37.500000      100.000000
             Luapula Province               75.000000       25.000000
             Lusaka Province                33.333333       98.076923
Zimbabwe                                    43.772894       73.809524
             Mashonaland Central Province   50.000000       75.000000

[1254 rows x 2 columns]

In [7]:
df1.loc[["Uzbekistan","Kazakhstan","Tajikistan",'Turkmenistan','Kyrgyzstan']]

                                      AirQuality  WaterPollution
Country      Region
Uzbekistan                             56.451613       49.166667
Kazakhstan                             11.830357       48.863636
              Aktobe Region            25.000000       87.500000
              Atyrau Region            28.571429       60.714286
              East Kazakhstan Region   17.857143       67.857143
              Karaganda Region          8.333333       70.833333
              Kostanay Region           0.000000       75.000000
              Mangystau Region          8.333333       91.666667
              Pavlodar Region          12.500000       62.500000
Tajikistan                             41.666667       61.111111
Turkmenistan                           61.111111       36.111111
              Mary Region             100.000000        0.000000
Kyrgyzstan                             18.571429       45.967742
              Issyk-Kul Region         50.000000       50.000000

In [9]:
df2=df1.copy()
df2.head()

                     AirQuality  WaterPollution
Country     Region
Afghanistan  Balkh    11.111111       83.333333
             Farah   100.000000        0.000000
             Faryab   50.000000       50.000000
             Herat    43.750000       31.250000
             Kabul    18.421053       81.060606

In [12]:
df2['AirPollution']=100-df2['AirQuality']
df2['WaterQuality']=100-df2['WaterPollution']
df2

                                           AirQuality  WaterPollution  \
Country     Region
Afghanistan  Balkh                          11.111111       83.333333
             Farah                         100.000000        0.000000
             Faryab                         50.000000       50.000000
             Herat                          43.750000       31.250000
             Kabul                          18.421053       81.060606
...                                               ...             ...
Zambia       Copperbelt Province            37.500000      100.000000
             Luapula Province               75.000000       25.000000
             Lusaka Province                33.333333       98.076923
Zimbabwe                                    43.772894       73.809524
             Mashonaland Central Province   50.000000       75.000000

                                           AirPollution  WaterQuality
Country     Region
Afghanistan  Balkh                            88.888889     16.666667
             Farah                             0.000000    100.000000
             Faryab                           50.000000     50.000000
             Herat                            56.250000     68.750000
             Kabul                            81.578947     18.939394
...                                                 ...           ...
Zambia       Copperbelt Province              62.500000      0.000000
             Luapula Province                 25.000000     75.000000
             Lusaka Province                  66.666667      1.923077
Zimbabwe                                      56.227106     26.190476
             Mashonaland Central Province     50.000000     25.000000

[1254 rows x 4 columns]

In [13]:
df3=pd.DataFrame(df2.values, index=df2.index,columns=[['AIR','AIR',"WATER","WATER"], ['AirQuality', 'AirPollution', 'WaterQuality','WaterPollution']])

In [14]:
df3

                                                  AIR               \
                                           AirQuality AirPollution
Country     Region
Afghanistan  Balkh                          11.111111    83.333333
             Farah                         100.000000     0.000000
             Faryab                         50.000000    50.000000
             Herat                          43.750000    31.250000
             Kabul                          18.421053    81.060606
...                                               ...          ...
Zambia       Copperbelt Province            37.500000   100.000000
             Luapula Province               75.000000    25.000000
             Lusaka Province                33.333333    98.076923
Zimbabwe                                    43.772894    73.809524
             Mashonaland Central Province   50.000000    75.000000

                                                 WATER
                                          WaterQuality WaterPollution
Country     Region
Afghanistan  Balkh                           88.888889      16.666667
             Farah                            0.000000     100.000000
             Faryab                          50.000000      50.000000
             Herat                           56.250000      68.750000
             Kabul                           81.578947      18.939394
...                                                ...            ...
Zambia       Copperbelt Province             62.500000       0.000000
             Luapula Province                25.000000      75.000000
             Lusaka Province                 66.666667       1.923077
Zimbabwe                                     56.227106      26.190476
             Mashonaland Central Province    50.000000      25.000000

[1254 rows x 4 columns]

In [21]:
df3.columns.names=['Main Column','Subset Column']
df3

Main Column                                       AIR               \
Subset Column                              AirQuality AirPollution
Country     Region
Afghanistan  Balkh                          11.111111    83.333333
             Farah                         100.000000     0.000000
             Faryab                         50.000000    50.000000
             Herat                          43.750000    31.250000
             Kabul                          18.421053    81.060606
...                                               ...          ...
Zambia       Copperbelt Province            37.500000   100.000000
             Luapula Province               75.000000    25.000000
             Lusaka Province                33.333333    98.076923
Zimbabwe                                    43.772894    73.809524
             Mashonaland Central Province   50.000000    75.000000

Main Column                                      WATER
Subset Column                             WaterQuality WaterPollution
Country     Region
Afghanistan  Balkh                           88.888889      16.666667
             Farah                            0.000000     100.000000
             Faryab                          50.000000      50.000000
             Herat                           56.250000      68.750000
             Kabul                           81.578947      18.939394
...                                                ...            ...
Zambia       Copperbelt Province             62.500000       0.000000
             Luapula Province                25.000000      75.000000
             Lusaka Province                 66.666667       1.923077
Zimbabwe                                     56.227106      26.190476
             Mashonaland Central Province    50.000000      25.000000

[1254 rows x 4 columns]

In [22]:
df3.sort_index(level=0, ascending = False)

Main Column                                       AIR               \
Subset Column                              AirQuality AirPollution
Country     Region
Zimbabwe     Mashonaland Central Province   50.000000    75.000000
                                            43.772894    73.809524
Zambia       Lusaka Province                33.333333    98.076923
             Luapula Province               75.000000    25.000000
             Copperbelt Province            37.500000   100.000000
...                                               ...          ...
Afghanistan  Kabul                          18.421053    81.060606
             Herat                          43.750000    31.250000
             Faryab                         50.000000    50.000000
             Farah                         100.000000     0.000000
             Balkh                          11.111111    83.333333

Main Column                                      WATER
Subset Column                             WaterQuality WaterPollution
Country     Region
Zimbabwe     Mashonaland Central Province    50.000000      25.000000
                                             56.227106      26.190476
Zambia       Lusaka Province                 66.666667       1.923077
             Luapula Province                25.000000      75.000000
             Copperbelt Province             62.500000       0.000000
...                                                ...            ...
Afghanistan  Kabul                           81.578947      18.939394
             Herat                           56.250000      68.750000
             Faryab                          50.000000      50.000000
             Farah                            0.000000     100.000000
             Balkh                           88.888889      16.666667

[1254 rows x 4 columns]

In [27]:
df3.to_csv('/kaggle/working/World-Cities-air-water-quality-pollution-dataset', index=False)